<section class="hero-image">
</section>


 <section id="welcome-booking" class="welcome">
    <img src="{{ asset('./assets/img/tag-room.svg')}}" alt="panneau de porte">
    <h1>Réservez votre chambre</h1>
    <hr>
    <h2>Trouvez la chambre parfaite pour votre prochain séjour</h2>
    <div class="reservation-container">
        {{ form_start(bookingForm) }}
            <div class="input-reservation">
                {{ form_label(bookingForm.start_date) }}
                {{ form_widget(bookingForm.start_date) }}
            </div>

            <span class="separator"></span>

            <div class="input-reservation">
                {{ form_label(bookingForm.end_date) }}
                {{ form_widget(bookingForm.end_date) }}
            </div>

            <span class="separator"></span>

            <div class="input-reservation">
                {{ form_label(bookingForm.adults_cap) }}
                {{ form_widget(bookingForm.adults_cap) }}
            </div>

            <span class="separator"></span>

            <div class="input-reservation">
                {{ form_label(bookingForm.children_cap) }}
                {{ form_widget(bookingForm.children_cap) }}
            </div>


            <span class="separator"></span>

            <input type="submit" class="btn btn-green" value="Réserver">

        {{ form_end(bookingForm) }}
    </div>
</section>


<section class="room-presentation-detail">

    <div class="room-presentation-detail__container">

        {# left #}
        <div class="room-presentation-detail__container__left">

                <!-- Room cards -->
            <div class="room-cards">
                <div class="room-cards__container">
                    <div class="card">
                        <a href="{{ path('app_room_show',{'id': room.id}) }}" title="{{room.titleRoom}}">
                            <div class="card__img">
                                <img src="{{ asset( vich_uploader_asset(room, 'roomMainImage'))}}" alt="{{room.titleRoom}}">
                            </div>
                        </a>
                        <div class="card__content">
                            <div class="card__content__left">
                                <h3 class="room-title">{{room.titleRoom}}</h3>
                                <ul>
                                    <li>{{room.typeRoom}}</li>
                                    <li>{{room.sizeRoom}}m<sup>2</sup></li>
                                    <li>{{room.adultsCap}} adultes</li>
                                    <li>{{room.childrenCap}} enfants</li>
                                </ul>
                            </div>
                            <div class="card__content__right">
                                <p class="begin_at">à partir de</p>
                                <p class="price">{{room.priceRoom}}<sup>€</sup></p>
                                <p class="by_night">/ nuit</p>
                            </div>
                            
                            {# <a href="{{ path('app_room_show',{'id': room.id}) }}" class="btn btn-white" title="Voir le détail">Voir le détail</a> #}
                            {# <a href="{{ path('app_booking_show',{'id': room.id}) }}" class="btn btn-green book" title="Réserver">Confirmer réservation</a> #}
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            {# Room services #}
            <div class="room-services">
                <h2 class="room-services__title">Services inclus avec la chambre</h2>

                {% for equipment in equipments %}
                    <div class="room-services__detail">
                        <img src="{{ asset( vich_uploader_asset(equipment, 'roomIcon'))}}" alt="{{ equipment.name }}" class="room-services__detail__icon">
                        <p class="room-services__detail__text">{{ equipment.name}}</p>
                    </div>
                {% endfor %}

            </div>

        </div>


        <div class="horizontal-separator"></div>

        {# right #}
        <div class="room-presentation-detail__container__right">
        <h2>Récapitulatif de la réservation</h2>
            <table class="booking-summary">
                <tbody>
                    <tr>
                        <td>
                            <p class="subtitle">Réservation Chambre :</p>
                            <p>{{room.titleRoom}} -  {{ room.priceRoom }} €</p>
                        </td>
                    </tr>

                    <tr>
                        {% set earliestStartDate = null %}
                        {% set latestEndDate = null %}
                            <td>
                                <p class="subtitle">Dates du séjour :</p>
                                {% for booking in bookings %}
                                    {% set startDate = booking.startDate %}
                                    {% set endDate = booking.endDate %}
                                <p>
                                    Arrivée : {{ startDate|date('d-m-Y') }}
                                    <br>
                                    Départ : {{ endDate|date('d-m-Y') }}
                                </p>
                                {% endfor %}    
                            </td>
                    </tr>

                    <tr>
                        <td>
                            <p class="subtitle">Taxe de séjour :</p>
                            <p>2%</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="subtitle">Services supplémentaires</p>
                            <p>0 €</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <table class="booking-total">
                <thead>
                    <th>
                        <h3>
                            Total de la réservation
                        </h3>
                    </th>
                </thead>
                <tbody>
                    <tr>
                    {% set totalCost = 0 %}
                    {% for booking in bookings %}
                        {% set startDate = booking.startDate %}
                        
                        {% set endDate = booking.endDate %}

                        {% set duration = endDate.diff(startDate) %}
                        {% set numDays = duration.days + 1 %}
                        {% set totalCost = numDays * 699 %}
                    {% endfor %}
                        <td>{{ totalCost }} €</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <a href="{{ path('app_booking_show',{'id': room.id}) }}" class="btn btn-gold" title="Réserver">Confirmer la réservation</a>
        </div>

    </div>

    
</section>


<section class="services-room">
</section>