<!-- header -->
    <header>
        <div class="logo-container">
            <a href="{{ path('app_main') }}" title="Hotello Home">
                <img src="{{ asset('./assets/img/logo-header.svg') }}" alt="Hotello">
            </a>
        </div>

        <!-- BURGER MENU -->
        <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <nav class="menu-desktop">
            <ul>
                <li><a href="{{ path('app_main')}}" title="Accueil">Accueil</a></li>
                <li><a href="{{ path('app_room')}}" title="Nos chambres">Nos chambres</a></li>
                <li><a href="{{ path('app_services')}}" title="Nos services">Nos services</a></li>
                <li><a href="{{ path('app_contact')}}" title="Nous contacter">Nous contacter</a></li>
            </ul>
        </nav>
    </header>

    <!-- Mobile Nav -->
    <div class="menu-mobile ">
        <nav>
            <ul>
                <li><a href="{{ path('app_main')}}" title="Accueil">Accueil</a></li>
                <li><a href="{{ path('app_room')}}" title="Nos chambres">Nos chambres</a></li>
                <li><a href="{{ path('app_services')}}" title="Nos services">Nos services</a></li>
                <li><a href="{{ path('app_contact')}}" title="Nous contacter">Nous contacter</a></li>
                <li> <hr> </li>
                <li>
                {% if is_granted('ROLE_USER') %}
                    <div class="connexion-mobile">
                        <img src="{{ asset('./assets/img/avatar.svg')}}" alt="avatar">
                        <a href="{{ path('app_register') }}" title="Connexion">Connexion</a>
                    </div>
                {% else %}
                    <div class="connexion-mobile">
                        <img src="{{ asset('./assets/img/avatar.svg')}}" alt="avatar">
                        <a href="{{ path('app_register') }}" title="Connexion">Inscription</a>
                    </div>
                {% endif %}
                </li>
                <li> <hr> </li>
                <li>
                    <div class="rs">
                        <a href="#"><img src="{{ asset('./assets/img/fb-icon-gold.svg')}}" alt="facebook"></a>
                        <a href="#"><img src="{{ asset('./assets/img/instagram-icon-gold.svg')}}" alt="instagram"></a>
                        <a href="#"><img src="{{ asset('./assets/img/twitter-icon-gold.svg')}}" alt="twitter"></a>
                        <a href="#"><img src="{{ asset('./assets/img/linkedin-icon-gold.svg')}}" alt="linkedin"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Connexion BTN -->
   {% if is_granted('ROLE_USER') %}
        <div class="connexion">
            <img src="{{ asset('./assets/img/avatar.svg')}}" alt="avatar">
            <a href="{{ path('app_register') }}" title="Connexion">Connexion</a>
        </div>
    {% else %}
        <div class="connexion">
            <img src="{{ asset('./assets/img/avatar.svg')}}" alt="avatar">
            <a href="{{ path('app_register') }}" title="Connexion">Inscription</a>
        </div>
    {% endif %}