    <!-- Room section -->
    <section id="room-section" class="room-section">
        <!-- left -->
        <div class="room-section__left">
            <div class="img-container revealVert">
                <img src="{{ asset('./assets/img/room-img-general.jpg')}}" alt="Hotello - Paris - Vue imprenable">
            </div>
            <p class="kate-font">Style et confort reconnu</p>
        </div>

        <!-- separator -->
        <span class="separator"></span>

        <!-- Right -->
        <div class="room-section__right">
            <p class="room-title">Chambres & Suites</p>

            <!-- Swiper -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Montaigne">
                            <p>Montaigne</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Rivoli">
                            <p>Rivoli</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Montorgueil">
                            <p>Montorgueil</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Oberkampf">
                            <p>Oberkampf</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Malakoff">
                            <p>Malakoff</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="Chambre Hotello Haussman">
                            <p>Haussman</p>
                        </a>
                    </div>
                </div>
                <!-- If we need pagination -->
                <!-- <div class="swiper-pagination"></div> -->
              
                <!-- If we need navigation buttons -->
                <!-- <div class="swiper-button-prev"></div> -->
                <!-- <div class="swiper-button-next"></div> -->
              
                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
              </div>

            <!-- fin swiper -->

            <h4>Le choix d’un style au-delà des modes du moment. </h4>
            <p>Fidèle aux essentiels de l’élégance, les 6 chambres de l’hôtel Hotello s’inspirent des classiques au long cours. Allure trench, lin chic ou esprit havane : l’inlassable bon genre pour prendre son bon temps.</p>
            <a href="{{ path('app_room')}}" class="btn btn-green">Découvrir nos chambres</a>
        </div>
    </section>