    <!-- Room description -->
    <div class="room-description">
        <div class="room-description__container">
            <!-- left -->
            <div class="room-description__container__left revealVert">
                <img src="{{ asset( vich_uploader_asset(room, 'roomMainImage'))}}" alt="{{room.titleRoom}}">
            </div>
            <!-- right -->
            <div class="room-description__container__right">
                <p class="room-subtitle">{{room.typeRoom}}</p>
                <h2>{{room.titleRoom}}</h2>
                <p class="room-description-text">{{room.descriptionRoom}}</p>

                <hr>

                <div class="room-services">

                {% for equipment in equipments %}
                    <div class="room-services__detail">
                        <img src="{{ asset( vich_uploader_asset(equipment, 'roomIcon'))}}" alt="{{ equipment.name }}" class="room-services__detail__icon">
                        <p class="room-services__detail__text">{{ equipment.name}}</p>
                    </div>
                {% endfor %}

                </div>

                <hr>

                <a href="#" class="btn btn-green">Réserver cette chambre</a>
            </div>
        </div>
    </div>