    <!-- Room description -->
    <div class="room-description">
        <div class="room-description__container">
            <!-- left -->
            <div class="room-description__container__left revealVert">
                <img src="{{ asset('./assets/img/montaigne.jpg')}}" alt="la chambre Montaigne">
                
            </div>
            <!-- right -->
            <div class="room-description__container__right">
                <p class="room-subtitle">Chambre</p>
                <h2>Montaigne</h2>
                <p class="room-description-text">La sobriété d’une palette naturelle, la tactilité tout en subtilité : en apparente simplicité, le lin effleure le chic décontracté. Aussi aisée à vivre qu’une belle chemise à enfiler, cette chambre classique a l’étoffe de l’élégance et une praticité de belle prestance.</p>

                <hr>

                <div class="room-services">

                    <div class="room-services__detail">
                        <img src="{{ asset('./assets/img/douche-icon.svg')}}" alt="douche" class="room-services__detail__icon">
                        <p class="room-services__detail__text">Douche séparée</p>
                    </div>

                    <div class="room-services__detail">
                        <img src="{{ asset('./assets/img/tea-coffee-icon.svg')}}" alt="Thé café" class="room-services__detail__icon">
                        <p class="room-services__detail__text">Service à thé et café</p>
                    </div>

                    <div class="room-services__detail">
                        <img src="{{ asset('./assets/img/wi-fi-icon.svg')}}" alt="wifi" class="room-services__detail__icon">
                        <p class="room-services__detail__text">WiFi</p>
                    </div>

                    <div class="room-services__detail">
                        <img src="{{ asset('./assets/img/vault-icon.svg')}}" alt="Coffre fort" class="room-services__detail__icon">
                        <p class="room-services__detail__text">Coffre-fort</p>
                    </div>

                    <div class="room-services__detail">
                        <img src="{{ asset('./assets/img/tv-icon.svg')}}" alt="douche" class="room-services__detail__icon">
                        <p class="room-services__detail__text">Téléviseur connecté</p>
                    </div>


                </div>

                <hr>

                <a href="#" class="btn btn-green">Réserver cette chambre</a>
            </div>
        </div>
    </div>