    <!-- Services section -->
    <section id="services-section" class="services-section">
        <img src="{{ asset('./assets/img/bellring-icon.svg')}}" alt="les services Hotello">
        <h2>Nos services</h2>
        <p>Ici et là, du bar au salon, de la cheminée à la petite terrasse cachée, ou pile de l’autre côté de la rue, les instants deviendront vos moments : gourmands, conviviaux, rêveurs ou studieux mais toujours pensés pour vous en particulier.</p>
        <br>

        <div class="services-section__icon_container">
            <div class="service">
                <img src="{{ asset('./assets/img/wifi-icon.svg')}}" alt="wi-fi">
                <p>Wi-fi</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/breakfast-icon.svg')}}" alt="petit déjeuner">
                <p>Petit déjeuner</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/spa-icon.svg')}}" alt="sPA">
                <p>SPA</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/suitcase-icon.svg')}}" alt="bagagerie">
                <p>Bagagerie</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/pool-icon.svg')}}" alt="piscine">
                <p>Piscine</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/car-icon.svg')}}" alt="voiturier">
                <p>Voiturier</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/bellring-icon-color.svg')}}" alt="room service">
                <p>Room service</p>
            </div>
            <div class="service">
                <img src="{{ asset('./assets/img/restaurant-icon.svg')}}" alt="restaurant">
                <p>Restaurant</p>
            </div>
        </div>

        <a href="#" class="btn btn-green" title="Découvrir nos services">Découvrir nos services</a>
        
    </section>