{% extends 'base.html.twig' %}

{% block title %}Hotello - Une chambre, un style !{% endblock %}

{% block body %}

{{ include('./_partials/_rooms-welcome-section.html.twig') }}

        <!-- Room cards -->
        <div class="room-cards">
            <div class="room-cards__container">
                

                {% for room in rooms %}

                    <div class="card">
                        <a href="{{ path('app_room_show',{'id': room.id}) }}" title="{{room.titleRoom}}">
                            <div class="card__img">
                                <img src="{{ asset( vich_uploader_asset(room, 'roomMainImage'))}}" alt="{{room.titleRoom}}">
                            </div>
                        </a>
                        <div class="card__content">
                            <div class="card__content__left">
                                <h3 class="room-title">{{room.titleRoom}}</h3>
                                <ul>
                                    <li>{{room.typeRoom}}</li>
                                    <li>{{room.sizeRoom}}m<sup>2</sup></li>
                                    <li>{{room.adultsCap}} adultes</li>
                                    <li>{{room.childrenCap}} enfants</li>
                                </ul>
                            </div>
                            <div class="card__content__right">
                                <p class="begin_at">à partir de</p>
                                <p class="price">{{room.priceRoom}}<sup>€</sup></p>
                                <p class="by_night">/ nuit</p>
                            </div>
                            
                            <a href="{{ path('app_room_show',{'id': room.id}) }}" class="btn btn-green" title="Voir le détail">Voir le détail</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

</section>

{{ include('./_partials/_services-plus-section.html.twig') }}
{{ include('./_partials/_contact-section.html.twig') }}
{{ include('./_partials/_goodwill.html.twig') }}

{% endblock %}
