{% extends 'base.html.twig' %}

{% block title %}Hotello - Contactez-nous{% endblock %}

{% block body %}

    <!-- Contact section -->
    <section id="contact-section" class="contact-section">
        <div class="contact-section__left">
            <p class="kate-font">Besoin d’un renseignement ? <span class="gold">Contactez-nous</span></p>
            <div class="adress-container">
                <img src="{{ asset('./assets/img/logo-welcome.svg')}}" alt="Hotello">
                <span class="separator"></span>
                <div class="adress-container__content">
                    <p class="kate-font-little">
                        Hotello Resort
                    </p>
                    <p class="adress">
                        155 avenue de Malakoff <br>75116 Paris, France
                    </p>
                    <hr>
                    <p class="phone">
                        Tél. : <a href="tel:33145002345" title="Téléphonez nous">+33 (1) 45 00 23 45</a>
                    </p>
                    <p class="mail">
                        mail : <a href="mailto:bonjour@hotello.com" title="Envoyez nous un mail">bonjour@hotello.com</a>
                    </p>
                    <div class="rs">
                        <a href="#" title="facebook"><img src="{{ asset('./assets/img/fb-icon.svg')}}" alt="facebook"></a>
                        <a href="#" title="instagram"><img src="{{ asset('./assets/img/instagram-icon.svg')}}" alt="instagram"></a>
                        <a href="#" title="twitter"><img src="{{ asset('./assets/img/twitter-icon.svg')}}" alt="twitter"></a>
                        <a href="#" title="linkedin"><img src="{{ asset('./assets/img/linkedin-icon.svg')}}" alt="linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-section__right">
            <p>Grâce à ce formulaire, vous pouvez nous contacter afin de réserver une chambre, consulter les disponibilités ou juste nous passer le bonjour !</p>

            {{ form_start(contactForm, {})}}

                {# name #}
                <div class="input">
                    {{ form_widget(contactForm.lastname_contact, {'attr': {'placeholder': 'Nom'}}) }}
                    {{ form_errors(contactForm.lastname_contact) }}
                 </div>

                {# firstname #}
                <div class="input">
                    {{ form_widget(contactForm.firstname_contact, {'attr': {'placeholder': 'Prénom'}}) }}
                     {{ form_errors(contactForm.firstname_contact) }}
                    
                </div>
                    
                {# email #}
                <div class="input">
                    {{ form_widget(contactForm.email_contact, {'attr': {'placeholder': 'e-mail'}}) }}
                    {{ form_errors(contactForm.email_contact) }}
                </div>
                    
                {# phone #}
                <div class="input">
                    {{ form_widget(contactForm.phone_contact, {'attr': {'placeholder': 'Téléphone'}}) }}
                    {{ form_errors(contactForm.phone_contact) }}
                </div>
                    
                {# message #}
                <div class="input">
                    {{ form_widget(contactForm.message_contact, {'attr': {'placeholder': 'Votre message...'}}) }}
                    {{ form_errors(contactForm.message_contact) }}
                </div>

                <div class="input">
                    <div class="checkbox">
                        {{ form_widget(contactForm.agreeTerms) }}
                        {{ form_label(contactForm.agreeTerms) }}
                    </div>
                </div>

                
                    
                {# submit #}
                    <input type="submit" value="Envoyer" class="btn btn-gold">
            {{ form_end(contactForm) }}
            

            {# {% if contactForm.submitted and contactForm.valid %}
                <div class="alert alert-success">
                    Votre message a bien été envoyé !
                </div>
            {% endif %} #}

        </div>
    </section>

<!-- General -->
{{ include('./_partials/_goodwill.html.twig') }}
{% endblock %}
